body {
  overflow: scroll;
  width: 100%;
  min-width: 370px;
  font-size: 100%;
  font-family: 'Helvetica';
  color: #636e72;
}

body > div {
  height: 80vh;
  margin: 0 1%;
}

header {
  position: absolute;
  right: 1%;
  top: 0;
  font-weight: bold;
  color: #b2bec3;
}

nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

nav ul li {
  margin-left: 1em;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  color: #2d3436;
}

a {
  color: inherit;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.welcome > div {
  margin: 1vw; 
}

.welcome h1 {
  font-size: 85px;
}

.welcome__img img {
  width: 200px;
  border-radius: 50%;
}

#home {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#skills {
  margin: 0 0;
  background-color: #81ecec;
}