html,
body {
  width: 100%;
  margin: 0;
  overflow: auto;
  font-family: 'Helvetica';
  color: #808e9b;
}

header {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 40px;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
}

nav ul li {
  margin-left: 2em;
}

h1, h2, h3 {
  font-weight: bold;
  color: #22313f;
}

h1 {
  font-size: 5.85em;
}

h2 {
  font-size: 3em;
}

h4 {
  font-weight: bold;
  font-size: 1.5em;
  color: #34495e;
}

p {
  font-size: 1.1em;
}

span {
  font-size: 0.75em;
}

a {
  color: inherit;
}

footer {
  line-height: 1.15;
  min-height: 200px;
  text-align: center;
  background-color: #4b77be;
  border-top: solid #3498db 15px;
}

footer * {
  color: rgba(255, 255, 255, .86);
}

.name {
  margin: auto 36px;
}

.welcome {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.welcome p {
  line-height: 1.15;
}

.about__overview {
  margin: 50px auto;
  max-width: 600px;
  line-height: 1.75;
  color: rgba(255, 255, 255, .86);
}

.about__overview > h4 {
  color: #ffffff;
  margin-bottom: 10px;
}

.about__technologies {
  position: relative;
  margin: auto;
  z-index: 2;
  width: 80%;
  max-width: 950px;
  background-color: #ffffff;
  border-radius: 1em;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

.about__technologies > h4 {
  padding: 20px 0;
}

.about__technologies__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1em;
}

.about__technologies__list div > p {
  margin: 20px 0;
}

.works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-container h3 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.project {
  margin: 25px 0;
  width: 1200px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project:nth-child(odd) {
  flex-direction: row-reverse;
}

.project__desc {
  line-height: 1.75;
  text-align: center;
  max-width: 500px;
}

.project__img {
  width: 600px;
  text-align: center;
}

.project__img img {
  width: 600px;
  border-radius: 1em;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

.contact-container {
  margin: 25px auto;
}

.contact-container a img {
  height: 28px;
  margin: 12px;
  opacity: 0.9;
}

#home {
  height: 86vh;
  padding-top: 15px;
  position: relative;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

#about {
  height: 720px;
  text-align: center;
  background-color: #4b77be;
  border-top: solid #3498db 15px;
  border-bottom: solid #3498db 15px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

#portfolio {
  margin-top: 100px;
  padding: 10px 0 100px 0;
  position: relative;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

@media (max-width: 1200px) {
  .project:nth-child(n) {
    flex-direction: column;
  }

  .project__img {
    padding-top: 20px;
    width: 100%;
  }

  .project__img img {
    width: 100%;
    max-width: 600px;
  }
}

@media (max-width: 675px) {
  .welcome p {
    margin: 0 auto;
    width: 80%;
  }

  .about__overview p,
  .project__desc p {
    width: 80%;
    margin: auto;
  }
  
  .about__technologies__list {
    grid-template-columns: 1fr;
  }

  .contact-container {
    width: 80%;
  }

  #home {
    padding-top: 25px;
  }

  #portfolio {
    margin-top: 460px;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 3.5vw;
  }

  header {
    position: relative;
    right: 0;
  }

  nav ul li {
    margin: 0 auto;
  }

  .name {
    margin: auto;
    text-align: center;
  }
}